.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__u9AvU {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.img__c2NpG {
  object-fit: fill;
  max-width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.img__c2NpG > picture > img {
  object-fit: fill;
}
.img__c2NpG > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.freeBox__caBq2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 30px;
  background: #ffffff;
  right: 100px;
  border-radius: 50%;
  padding: 8px;
  border: 15px solid #000000;
}
.img__z8R6M {
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}
.img__z8R6M > picture > img {
  object-fit: cover;
}
.img__z8R6M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__lrIjt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 130px 8px 8px;
}
.freeBox__hanpu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px 71px 8px 0px;
}
.text__hazpa {
  width: 1746px;
  height: auto;
  max-width: 100%;
  font-size: 100px;
  text-align: center;
  text-decoration-line: underline;
  font-family: "Cherry Cream Soda";
  color: #facfa3;
  padding-right: 0px;
  padding-left: 449px;
  padding-top: 0px;
  display: block;
}
.freeBox___5Oyht {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-self: flex-start;
  background: none;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 0px;
}
.freeBox__qw3As {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__kkq5L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 100px;
  text-align: left;
  text-decoration-line: underline;
  font-family: "Coda";
  color: #facfa3;
  padding-left: 689px;
  min-width: 0;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 7px 8px 8px;
}
.freeBox__pRnrw {
  display: flex;
  width: 80vw;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.freeBox__y8IMt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.freeBox__p7Cb1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff91;
  min-width: 0;
}
.freeBox__p7Cb1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__p7Cb1 > :global(.__wab_flex-container) > *,
.freeBox__p7Cb1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p7Cb1 > :global(.__wab_flex-container) > picture > img,
.freeBox__p7Cb1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__eo4Gi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 100px;
  min-width: 0;
}
.text__k1Qct {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 100px;
  min-width: 0;
}
.freeBox__qk9Ls {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__yiQYu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffffab;
  padding: 30px;
}
.freeBox__yiQYu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__yiQYu > :global(.__wab_flex-container) > *,
.freeBox__yiQYu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yiQYu > :global(.__wab_flex-container) > picture > img,
.freeBox__yiQYu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__nOfxM {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 120px;
  text-align: center;
  text-decoration-line: none;
  font-family: "Coda";
  color: #535353;
  min-width: 0;
}
.freeBox__vGeby {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vGeby > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vGeby > :global(.__wab_flex-container) > *,
.freeBox__vGeby > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vGeby > :global(.__wab_flex-container) > picture > img,
.freeBox__vGeby
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__zK2AE {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 150px;
  text-align: center;
  text-decoration-line: none;
  font-family: "Coda";
  color: #535353;
  min-width: 0;
}
.text__ymvUa {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 120px;
  text-align: center;
  text-decoration-line: none;
  font-family: "Coda";
  color: #535353;
  min-width: 0;
}
